#Thebigtitle{
	background-color: purple;
	text-align: center;
	font-size: 45px;
	color: violet;
}

h1{
	family-font: Arial;
}

#Goals{
	background-color: purple;
	color: violet;
}

#hello{
	background-color: violet;
	color: purple;
}

#navigation{
	background-color:purple;
	color:white;
	text-align:center;
}

#Fixtures{
	background-color: violet;
	color:purple;
}

#Scores{
	background-color: purple;
	color: Violet;
}

#yeah{
	background-color: violet;
	color: purple;
}
